body {
  padding-top: 50px;
}

#ytplayer {
  margin-top: 100px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#progress-bar {
  width: 1080px;
  height: 20px;
  background-color: rgb(170, 170, 170);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#line {
  width: 0%;
  height: 50%;
  background-color: #337ab7;
  border-radius: 5px;
  margin-left: 10px;
}

#circle {
  width: 20px;
  height: 20px;
  background-color: #337ab7;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: 0px;
}

.control-icon-size {
  font-size: 1.5em;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.font-size {
  font-size: 1.5em;
}

#url-box {
  width: 1080px;
  height: 100px;
  margin-top: 100px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375em;
  height: 2.375em;
  line-height: 2.375em;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#video-info {
  text-align: center;
  margin-top: 100px;
}

.border-text {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(10, 115, 207);
  padding: 10px;
}

.nav-color {
  background-color: rgb(208, 4, 4);
}

.navbar-inverse .navbar-brand {
  color: #eee;
}

.navbar-inverse .navbar-nav > li > a {
  color: #eee;
}

.form-control {
  height: 70px;
  font-size: 20px;
  border-radius: 8px;
}
